{% extends 'templatebase.html' %}
{% block title%}{{page}}{% endblock %}
{% block pageactive %}
    #link-nav-{{page}}{
        color: white !important;
    }
{% endblock %}
{% block content %}

</div>
<div class="container pt-5">
    <div class="row">
        <table class="table">
            <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
                <tr {% if i[2] == "entrada": %}
                        class="table-success"
                    {% elif i[2] == "saida": %}
                        class="table-danger"
                    {% elif i[2] == "investimento": %}
                        class="table-warning"
                    {% endif %}
                         >
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>R${{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td id="table-desc">{{ i[5] }}</td>
                    <td>{{ i[6] }}</td>
                    <td>
                        <a href="http://localhost:5000/editar?id={{ i[0] }}"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="http://localhost:5000/deletar?id={{ i[0] }}"><i class="fa-solid fa-trash"></i></a>
                        <i class="fa-solid fa-circle-info" onclick="test{{i}}" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                      </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}