{% extends 'templatebase.html' %}
{% block pageactive %}
    #link-nav-{{page}}{
        color: white !important;
    }
{% endblock %}
{% block content %}
<div class="container pt-5">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr  class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
                <tr>
                    <th scope="row">{{ i[0] }}</th>
                    <td>{{ i[1] }}</td>
                    <td>R${{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>
                        <a href=""><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href=""><i class="fa-solid fa-trash"></i></a>
                        <a href=""><i class="fa-solid fa-circle-info"></i></a>
                      </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}