{% extends 'templatebase.html' %}
{% block title%}{{page}}{% endblock %}
{% block pageactive %}
    #link-nav-{{page}}{
        color: white !important;
    }
{% endblock %}
{% block content %}

<div class="container my-5">
    <div class="row">
        {% if data == 0 %}
            {% if page == "dashboard" %}
                <h1 class="text-white text-center">Nenhuma movimentação encontrada!</h1>
                <h2 class="text-white text-center">Gostaria de criar uma?</h2>
                <div class="text-center col mt-3">
                    <button type="button" class="btn btn-success center" data-bs-toggle="modal" data-bs-target="#ModalEntrada">Criar entrada</button>
                    <button type="button" class="btn btn-danger center" data-bs-toggle="modal" data-bs-target="#ModalSaida">Criar saída</button>
                    <button type="button" class="btn btn-warning center" data-bs-toggle="modal" data-bs-target="#ModalInvestimentos">Criar investimento</button>
                </div>
            {% elif page == "entrada" %}
                <h1 class="text-white text-center">Nenhuma entrada encontrada!</h1>
                <h2 class="text-white text-center">Gostaria de criar uma?</h2>
                <div class="text-center col mt-3">
                    <button type="button" class="btn btn-success center" data-bs-toggle="modal" data-bs-target="#ModalEntrada">Criar entrada</button>
                </div>
            {% elif page == "saida" %}
                <h1 class="text-white text-center">Nenhuma saída encontrada!</h1>
                <h2 class="text-white text-center">Gostaria de criar uma?</h2>
                <div class="text-center col mt-3">
                    <button type="button" class="btn btn-danger center" data-bs-toggle="modal" data-bs-target="#ModalSaida">Criar saída</button>
                </div>
            {% elif page == "investimento" %}
                <h1 class="text-white text-center">Nenhum investimento encontrado!</h1>
                <h2 class="text-white text-center">Gostaria de criar um?</h2>
                <div class="text-center col mt-3">
                    <button type="button" class="btn btn-warning center" data-bs-toggle="modal" data-bs-target="#ModalInvestimentos">Criar investimento</button>
                </div>
            {% endif %}
            
        {% else %}

        {% if page == "investimento" %}
            {% if type == 'vendidos' %}
                <table class="table table-warning" >
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Valor compra</th>
                            <th scope="col">Data venda</th>
                            <th scope="col">Valor venda</th>
                            <th scope="col">Variação</th>
                            <th scope="col">Quantidade venda</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                            <tr>
                                <td>{{ row[0].id }}</td>
                                <td>{{ row[0].nome }}</td>
                                <td id="valor_compra{{ row[0].id }}">R${{ row[0].valor_compra }}</td>
                                <td>{{ row[0].data_venda }}</td>
                                <td id="valor_venda{{ row[0].id }}">R${{ row[0].valor_venda }}</td>
                                <td class="text-success" id="variacao{{ row[0].id }}">
                                    <script>
                                        resultado = (({{ row[0].valor_compra }} - {{ row[0].valor_venda }}) / {{ row[0].valor_compra }}) * 100
                                        $("#variacao{{ row[0].id }}").text(resultado.toFixed(2))
                                        if(resultado < 0){
                                            $("#variacao{{ row[0].id }}").addClass("text-danger");
                                        }
                                    </script>
                                </td>
                                <td>{{ row[0].quantidade_venda }}</td>
                                <td>
                                    <a href="{{ url_for('deletar') ~ '?id=' ~ row[0].id }}&database=investimento_vendidos"><i class="fa-solid fa-trash" id=""></i></a>
                                    <i class="fa-solid fa-circle-info" onclick=""></i>
                                </td>
                            </tr>
                        {% endfor %}
            {% else %}
                <table class="table">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Ativo</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Qtd</th>
                            <th scope="col">Total</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Data compra</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    {% for row in data %}
                        <tr {% if row[0].tipo == "entrada" %}
                                class="table-success"
                            {% elif row[0].tipo == "saida": %}
                                class="table-danger"
                            {% elif row[0].tipo == "investimento": %}
                                class="table-warning"
                            {% endif %}
                        >
                            <td>{{ row[0].id }}</td>
                            <td>{{ row[0].nome }}</td>
                            <td>{{ row[0].ativo }}</td>
                            <td>R${{ row[0].valor }}</td>
                            <td>{{ row[0].quantidade }}</td>
                            <td>R${{ row[0].valor * row[0].quantidade }}</td>
                            <td id="table-desc">{{ row[0].categoria }}</td>
                            <td>{{ row[0].data }}</td>
                            <td>
                                <a href="{{ url_for('deletar') ~ '?id=' ~ row[0].id }}"><i class="fa-solid fa-trash" id=""></i></a>
                                <i class="fa-solid fa-circle-info" onclick=""></i>
                            </td>
                        </tr>
                    {% endfor %}
            {% endif %}
        {% else %}
        {% if page == "dashboard" %}
        
        <div id="container">
            <div class="cards"  onclick="alert('Esse card soma todas as Entradas e Investimentos criados!')">
                <div class="image">
                    <h2><i class="fa-solid fa-landmark fa-xl"></i></h2>
                </div>
                <div class="vr" style="color: green;"></div>
                <div class="body">
                    <div class="title">
                        <h3>PATRIMÔNIO</h3>
                    </div>
                    <div class="content">
                        R$ {{ dict_distribuicao['patrimonio'] }}
                    </div>
                </div>
            </div>

            <div class="cards" onclick="alert('Esse card soma todos os investimentos criados!')">
                <div class="image">
                    <h2><i class="fa-solid fa-hand-holding-dollar fa-xl"></i></h2>
                </div>
                <div class="vr" style="color: green;"></div>
                <div class="body">
                    <div class="title">
                        <h3>INVESTIDO</h3>
                    </div>
                    <div class="content">
                        R$ {{ dict_distribuicao['total_investido'] }}
                    </div>
                </div>
            </div>

            <div class="cards" onclick="alert('Esse card soma todos os dividendos de investimentos!')">
                <div class="image">
                    <h2><i class="fa-solid fa-chart-line fa-xl"></i></h2>
                </div>
                <div class="vr" style="color: green;"></div>
                <div class="body">
                    <div class="title">
                        <h3>GANHOS</h3>
                    </div>
                    <div class="content">
                        R$ {% if dict_distribuicao['total_dividendos'] == None %} 0 {% else %} {{ dict_distribuicao['total_dividendos'] }} {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-light mt-4 mb-2">
            <div class="container">
                <h2 class="text-center m-2">GRÁFICOS</h2>
                {% if dict_distribuicao['ativos'] != [] %}
                <div style="justify-content: space-around; display: flex;">
                    <div id="distribuicao"></div>
                    <div id="ativos"></div>
                    <script type="text/javascript">        
                        var options_distribuicao = {
                        series: [{{ dict_distribuicao['renda fixa'] }}, {{ dict_distribuicao['renda variavel'] }}, {{ dict_distribuicao['fii'] }}, {{ dict_distribuicao['etf'] }}, {{ dict_distribuicao['brd'] }}, {{ dict_distribuicao['criptomoedas'] }}],
                        chart: {
                        width: 480,
                        type: 'pie',
                        },
                        dataLabels: {
                            textAnchor: "start",
                            formatter: function (val, opt) {
                                return 'R$' + opt.w.globals.series[opt.seriesIndex]
                                }
                        },
                        labels: ['Renda fixa', 'Renda variavel', 'Fundos imobiliarios', 'ETF', 'BRD', 'Criptomoedas'],
                        responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: 'bottom'
                            },
                        }
                        }]
                        };
        
                        var chart = new ApexCharts(document.querySelector("#distribuicao"), options_distribuicao);
                        chart.render();
                    </script>
                    <script type="text/javascript">        
                        var options = {
                        series: [{% for i in dict_distribuicao['ativos'] %}
                                    {{i[1]}},
                                {% endfor %}],
                        chart: {
                        width: 480,
                        type: 'pie',
                        },
                        dataLabels: {
                            textAnchor: "start",
                            formatter: function (val, opt) {
                                return opt.w.globals.labels[opt.seriesIndex]
                            }
                        },
                        labels: [{% for i in dict_distribuicao['ativos'] %}
                                    '{{i[0]}}',
                                {% endfor %}],
                        responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: 'bottom'
                            },
                        }
                        }]
                        };
        
                        var chart = new ApexCharts(document.querySelector("#ativos"), options);
                        chart.render();
                    </script>
                </div>
                {% endif %}
                	<div id="grafico" class="mb-5"></div>
                    <script>
                        var options = {
                            series: [{
                            name: 'R$',
                            {% if dict_distribuicao['total_entradas'] > 0 or dict_distribuicao['total_saidas'] > 0 or dict_distribuicao['total_investimentos'] > 0 %}
                                data: [{{ dict_distribuicao['total_entradas'] }}, {{ dict_distribuicao['total_saidas'] }}, {{ dict_distribuicao['total_investimentos'] }}]
                            {% else %}
                                data: [0, 0, 0]
                            {% endif %}
                            }],
                            chart: {
                                height: 350,
                                type: 'bar',
                                events: {
                                    click: function(chart, w, e) {
                                    // console.log(chart, w, e)
                                    }
                                }
                            },
                            colors: ['#008450', '#B81D13', '#EFB700'],
                            plotOptions: {
                                bar: {
                                    columnWidth: '45%',
                                    distributed: true,
                                }
                            },
                            dataLabels: {
                                enabled: true,
                                formatter: function (val, opt) {
                                    return 'R$' + opt.w.globals.series[opt.seriesIndex][opt.dataPointIndex]
                                }
                            },
                            legend: {
                                show: false
                            },
                            xaxis: {
                                categories: [
                                    'Entradas',
                                    'Saidas',
                                    'investimentos'
                                ],
                            labels: {
                                style: {
                                    colors: ['#008450', '#B81D13', '#EFB700'],
                                    fontSize: '12px'
                                }
                            }
                            }
                        };
            
                        var chart = new ApexCharts(document.querySelector("#grafico"), options);
                        chart.render();
                    </script>
              
            </div>
        </div>
            <div class="text-center col mt-3 mb-5">
                <button type="button" class="btn btn-warning center" data-bs-toggle="modal" data-bs-target="#ModalInvestimentos">Novo investimento</button>
            </div>

        {% else %}

            <table class="table">
                <thead>
                <tr class="table-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr {% if row[0].tipo == "entrada" %}
                            class="table-success"
                        {% elif row[0].tipo == "saida": %}
                            class="table-danger"
                        {% elif row[0].tipo == "investimento": %}
                            class="table-warning"
                        {% endif %}
                    >
                        <td>{{ row[0].id }}</td>
                        <td>{{ row[0].nome }}</td>
                        <td>R${{ row[0].valor }}</td>
                        <td>{{ row[0].categoria }}</td>
                        <td id="table-desc">{{ row[0].descricao }}</td>
                        <td>{{ row[0].data }}</td>
                        <td>
                            <a href="{{ url_for('editar') ~ '?id=' ~ row[0].id }}"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="{{ url_for('deletar') ~ '?id=' ~ row[0].id }}"><i class="fa-solid fa-trash"></i></a>
                            <i class="fa-solid fa-circle-info" onclick="test{{i}}" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% endif %}{% endif %}
</div>
{% endblock %}