{% extends 'templatebase.html' %}
{% block pageactive %}
    #link-nav-{{page}}{
        color: white !important;
    }
{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div style="display: flex; justify-content: center;">
  <div style="width: 49%; background: white; margin: 10px 0 1px 10px;">
    <canvas id="myChart"></canvas>
  </div>
  
  
  <script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Entradas', 'Saídas', 'Investimentos'],
        datasets: [{
          label: 'Total em R$',
          data: [120, 19, 30],
          backgroundColor: ["green", "red", "yellow"],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
  <div style="width: 49%; background: white; margin: 10px 10px 0 1px;">
    <canvas id="myChart2"></canvas>
  </div>
  
  
  <script>
    const ctx2 = document.getElementById('myChart2');
  
    new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: ['Entradas', 'Saídas', 'Investimentos'],
        datasets: [{
          label: 'Total em R$',
          data: [120, 19, 300],
          backgroundColor: ["green", "red", "yellow"],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
</div>
{% endblock %}